/* Core style */
html {
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  text-decoration: none;
  line-height: 1.2;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

textarea:focus,
select:focus {
  outline: none !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

input:focus {
  outline: none !important;
}

input {
  border: none;
  outline: none;
}

input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

a,
span {
  display: inline-block;
}

body {
  font-family: "Aleo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background: #f8f5f3;
}

.brown-btn {
  font-family: "Asap", sans-serif;
  font-size: 8.72px;
  font-weight: 400;
  line-height: 19.63px;
  color: #fff;
  background: #6c5a59;
  border-radius: 23px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 8px;
  white-space: nowrap;
}

.wrapper {
  overflow: hidden;
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
  padding-bottom: 15px;
}
.wrapper.hgome {
  padding-top: 0;
}

.title {
  font-size: 24px;
  font-weight: 900;
  line-height: 19.43px;
  letter-spacing: -0.0539620817px;
  color: #6c5a59;
}

.container {
  padding: 0 12px;
}

.top-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.top-box a {
  font-size: 8px;
  font-weight: 500;
  line-height: 19.43px;
  letter-spacing: -0.0539620854px;
  border-bottom: 1px solid #6c5a59;
  color: #6c5a59;
}
.top-box__icon {
  border: none !important;
  height: 24px;
}
.top-box h4 {
  font-size: 11px;
  color: #6c5a59;
  font-weight: 500;
  line-height: 19.43px;
  letter-spacing: -0.0539620854px;
  border-bottom: 1px solid #6c5a59;
}

.header {
  background: url(../images/header-bg.png) no-repeat;
  background-size: 100% 100%;
  height: 67px;
  padding: 4px 0px;
  color: #fff;
  position: relative;
  z-index: 2;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .user-box {
  display: flex;
  align-items: center;
  gap: 6px;
}
.header .user-box .avatar {
  width: 37px;
  height: 37px;
  background: #fff;
  border-radius: 50%;
}
.header .user-box .user-name {
  font-family: "Asap", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.0500000007px;
  text-align: center;
}
.header .user-box .user-status {
  font-family: "Asap", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.0500000007px;
  width: 70px;
  height: 16px;
  background: #fff;
  border-radius: 11px;
  text-align: center;
  color: #756462;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-right {
  background: #fff;
  border-radius: 11px;
  padding: 5px 7px;
  display: flex;
  align-items: center;
  gap: 5px;
  height: 15.58px;
  display: flex;
}
.header-right span {
  font-size: 6.42px;
  font-weight: 800;
  line-height: 10.51px;
  color: #71605e;
}
.header-right a {
  font-family: "Inter", sans-serif;
  font-size: 6.42px;
  font-weight: 400;
  line-height: 10.51px;
  color: #71605e;
  position: relative;
}
.header-right a::before {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 0;
  width: 91%;
  height: 0.5px;
  background: #71605e;
}

main {
  position: relative;
  z-index: 1;
  max-width: 480px;
  margin: 0 auto;
}
main::after {
  content: "";
  position: absolute;
  width: 439px;
  height: 438px;
  top: -40px;
  right: -293px;
  border-radius: 50%;
  opacity: 0.35;
  border: 1px solid #f39871;
  z-index: -1;
}
main::before {
  content: "";
  position: absolute;
  width: 439px;
  height: 438px;
  top: 154px;
  left: -263px;
  border-radius: 50%;
  opacity: 0.35;
  border: 1px solid #f39871;
  z-index: -1;
}

.search-box {
  margin: 10px 0 0 0;
}
.search-box .relative-box {
  position: relative;
}
.search-box__icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -5px;
  -webkit-backdrop-filter: blur(3.0819671154px);
          backdrop-filter: blur(3.0819671154px);
  width: 47px;
  height: 47px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-box__form {
  background: #e2dcd7;
  box-shadow: 0px 3.35px 9.37px 0px rgba(0, 0, 0, 0.2509803922) inset;
  width: 100%;
  height: 27.15px;
  padding: 10px 10px 10px 50px;
  border-radius: 56.91px;
  font-size: 11px;
  color: #6c5a59;
}

.service-info {
  padding: 18px 0 22px 0;
}
.service-info .swiper-slide {
  height: 96px !important;
}
.service-info__card {
  position: relative;
  width: 100%;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  background: linear-gradient(319.45deg, #f9f4ef -0.1%, rgba(172, 150, 142, 0.7) 93.37%);
  height: 100%;
  overflow: hidden;
  border-radius: 11px;
  border: 1px solid #fff;
  padding: 29px 0 0 4px;
  z-index: 1;
}
.service-info__card.one {
  background: linear-gradient(301deg, #f39871 0%, #ccbeb7 100%);
}
.service-info__card.one img {
  position: absolute;
  top: 0;
  right: 0;
}
.service-info__card.one .service-info__card-title {
  color: #6e5c5b;
}
.service-info__card img {
  position: absolute;
  z-index: -1;
}
.service-info__card .location-one {
  top: -2px;
  right: 5px;
  transform: rotate(-48.74deg);
  width: 28.75px;
  height: 34px;
  filter: blur(1px) drop-shadow(3px 3px 4px rgba(152, 134, 127, 0.6196078431));
}
.service-info__card .location-two {
  bottom: 0;
  left: 44px;
  width: 39.9px;
  height: 47.56px;
  filter: drop-shadow(3px 3px 4px rgba(152, 134, 127, 0.6196078431));
}
.service-info__card .check-two {
  top: 0;
  right: 0;
  width: 29px;
  height: 32px;
}
.service-info__card .check-one {
  bottom: -2px;
  right: 0;
  width: 33px;
  height: 38px;
}
.service-info__card .folder-one {
  width: 18.67px;
  height: 18.67px;
  transform: rotate(-40.69deg);
  bottom: 2px;
  left: 28px;
}
.service-info__card .folder-two {
  bottom: 1px;
  right: 2px;
  width: 29.62px;
  height: 29.62px;
}
.service-info__card .folder-three {
  top: -5px;
  right: -12px;
  transform: rotate(-46.56deg);
  filter: blur(1px);
  width: 37.39px;
  height: 37.39px;
}
.service-info__card .ruble-one {
  width: 38px;
  height: 38px;
  top: -15px;
  transform: rotate(-64.04deg);
  right: 24px;
  filter: blur(0.6px);
}
.service-info__card .ruble-two {
  width: 22px;
  height: 23px;
  top: 0;
  right: -11px;
  transform: rotate(318deg);
  filter: blur(0.6px);
}
.service-info__card .ruble-three {
  bottom: 0;
  right: 2px;
}
.service-info__card-title {
  font-size: 14px;
  font-weight: 900;
  line-height: 19.43px;
  letter-spacing: -0.0539620817px;
  color: #705e5d;
}

.user-actions {
  padding-bottom: 20px;
}
.user-actions .container {
  display: flex;
  gap: 8px;
}
.user-actions .container > div {
  width: 50%;
}
.user-actions__card {
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
  gap: 25px;
  padding: 14px 9px;
  border-radius: 11px;
}
.user-actions__card:first-child {
  background: linear-gradient(270deg, #8e7e7d -0.88%, #f0f0f0 166.29%);
}
.user-actions__card:last-child {
  background: linear-gradient(270deg, #f0f0f0 -85.71%, #ad9287 97.66%);
}
.user-actions__card-btn {
  min-width: 48px;
  max-width: 48px;
  height: 48px;
  box-shadow: 3px 1px 4px 0px rgba(0, 0, 0, 0.3803921569);
  background: #f8f5f3;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user-actions__card-title {
  font-size: 13px;
  font-weight: 800;
  line-height: 19.43px;
  letter-spacing: -0.0539620854px;
  color: #fff;
}

.categories {
  margin-bottom: 10px;
}
.categories .swiper-slide {
  height: 128px !important;
}
.categories-swiper {
  margin-top: 5px;
}
.categories-card {
  background: url(../images/categories-card-bg.png) no-repeat;
  background-size: 100% 100%;
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  padding: 10px;
}
.categories-card img {
  height: 92px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  max-width: 104px;
  width: 100%;
  border-radius: 15px;
}
.categories-card__title {
  font-size: 9.85px;
  font-weight: 400;
  line-height: 15.94px;
  letter-spacing: -0.0442765802px;
  color: #0d0d0d;
}

.catalog {
  padding-bottom: 20px;
}
.catalog-cards {
  margin-top: 10px;
  display: flex;
  align-items: start;
  gap: 10px;
  justify-content: space-between;
}
.catalog-card {
  max-width: 158.94px;
  width: 100%;
  padding: 10px 10px 13px 10px;
  border-radius: 11px;
  background: #fffefe;
  text-align: center;
}
.catalog-card__img {
  border-radius: 11px;
  height: 137px;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}
.catalog-card__title {
  font-size: 9.92px;
  font-weight: 400;
  line-height: 16.06px;
  letter-spacing: -0.0446131863px;
  color: #0d0d0d;
  margin-bottom: 5px;
}

.buy-btn {
  font-size: 8.49px;
  font-weight: 900;
  letter-spacing: -0.0446131863px;
  line-height: normal;
  text-align: center;
  border: 0.77px solid #f39871;
  padding: 0 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18.52px;
  color: #f39871;
  height: 17px;
  width: 100%;
}

.categories-page__cards {
  padding-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}
.categories-page__cards .categories-card {
  min-height: 160px;
}
.categories-page__cards img {
  width: 130px;
  height: 115px;
}

.profile-page main {
  padding-bottom: 50px;
}
.profile-page main::before {
  top: unset;
  bottom: -23px;
}

.profile-section {
  padding-top: 86px;
}
.profile-section__boxes {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.profile-section .profile-box {
  background: #efe8e3;
  padding: 9px;
  border-radius: 11px;
  display: flex;
  align-items: center;
  gap: 22px;
}
.profile-section .profile-box .avatar {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  position: relative;
  background: #fff;
}
.profile-section .profile-box .status {
  position: absolute;
  bottom: -2px;
  right: -2px;
  width: 24px;
  height: 24px;
  background: #6c5a59;
  border-radius: 50%;
}
.profile-section .profile-box .user-name {
  font-family: "Asap", sans-serif;
  font-size: 15px;
  font-weight: 900;
  line-height: 19.63px;
  color: #6c5a59;
}
.profile-section .profile-box .user-contact .box {
  display: flex;
  align-items: start;
  gap: 22px;
}
.profile-section .profile-box .label {
  min-width: 45px;
}
.profile-section .profile-box .label,
.profile-section .profile-box .link {
  font-family: "Asap", sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 19.63px;
  color: #6c5a59;
}
.profile-section .user-options {
  display: flex;
  align-items: end;
  background: linear-gradient(90deg, #ede4de 28.44%, #b2a49e 98.38%);
  padding: 14px 18px 14px 13px;
  border-radius: 11px;
  justify-content: space-between;
}
.profile-section .user-options__left-box {
  display: flex;
  align-items: center;
  gap: 25px;
}
.profile-section .user-options__img {
  width: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-section .user-options .read-more {
  font-size: 10px;
  font-weight: 100;
  line-height: 19.63px;
  color: #fff;
  border-bottom: 1px solid #fff;
}
.profile-section .user-options__title {
  font-size: 15px;
  font-weight: 800;
  line-height: 19.63px;
  color: #6c5a59;
}

.delivery {
  margin-top: 88px;
  background: #b4a6a0;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  padding: 37px 24px 21px 24px;
  border-radius: 11px;
  color: #f8f5f3;
}
.delivery-title {
  font-family: "Asap", sans-serif;
  font-size: 17.45px;
  font-weight: 900;
  line-height: 19.63px;
  padding-bottom: 5px;
}
.delivery-info {
  display: flex;
  align-items: center;
  gap: 2px;
}
.delivery-info__text {
  font-family: "Asap", sans-serif;
  font-size: 10.9px;
  font-weight: 400;
  line-height: 19.63px;
  text-align: left;
}
.delivery-footer {
  display: flex;
  gap: 30px;
  justify-content: center;
  padding: 32px 13px 0 10px;
}
.delivery-footer .brown-btn {
  width: 100%;
}
.delivery-footer .brown-btn:first-child {
  min-width: 107px;
  max-width: 107px;
}
.delivery .status {
  display: flex;
  gap: 6px;
  align-items: center;
  /* Har bir loader to'pchasiga kechikish beramiz */
}
.delivery .status .loader {
  background: #f8f5f3;
  border-radius: 50%;
  width: 4px;
  height: 4px;
  animation: loader-animation 1.4s infinite ease-in-out;
}
.delivery .status .loader:nth-child(1) {
  animation-delay: 0s;
}
.delivery .status .loader:nth-child(2) {
  animation-delay: 0.2s;
}
.delivery .status .loader:nth-child(3) {
  animation-delay: 0.4s;
}
@keyframes loader-animation {
  0%, 100% {
    transform: scale(1); /* Odatdagi holat */
  }
  50% {
    transform: scale(1.5); /* Kattalashish */
  }
}

.basket-page {
  height: 100vh;
  min-height: -webkit-fill-available;
}
.basket-page main {
  margin-top: 35px;
}

.basket .title {
  margin-bottom: 10px;
}
.basket-cards {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.basket .counter {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  background: #6c5a59;
  padding: 3px 12px;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 75.01px;
  border-radius: 10px;
}
.basket .counter .count-value {
  font-family: "Asap", sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 19.89px;
  color: #fff;
  text-align: center;
  min-width: 20px;
}
.basket .counter button {
  width: 10px;
  height: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.basket .counter button::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}
.basket .counter .increment::after {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 100%;
  background: #fff;
}
.basket .product {
  background: #fff;
  border-radius: 11px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.2509803922);
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.basket .product-img {
  width: 62px;
  height: 62px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 11px;
}
.basket .product-left__box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.basket .product-name {
  font-size: 10px;
  font-weight: 400;
  line-height: 19.43px;
  letter-spacing: -0.0539620817px;
}
.basket .product-price {
  font-size: 20px;
  font-weight: 900;
  line-height: 19.43px;
  letter-spacing: -0.0539620817px;
}

@media screen and (max-width: 350px) {
  .user-actions__card {
    gap: 10px;
  }
  .user-actions__card-btn {
    max-width: 38px;
    min-width: 38px;
    height: 38px;
  }
  .service-info__card {
    padding-top: 12px;
  }
  .service-info .swiper-slide {
    height: 80px !important;
  }
  .delivery-footer .brown-btn:first-child {
    min-width: 90px;
  }
}/*# sourceMappingURL=main.css.map */